@{
    ViewData["Title"] = "Access Denied";
    Layout = "_Layout";
}

<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6 text-center">

            <h1 class="display-6 text-danger">Access Denied</h1>

            <p class="lead mt-3">
                Nemate pravo pristupa ovoj stranici.
            </p>

            <hr />

            <div class="d-flex justify-content-center gap-3">
                <a asp-controller="Home" asp-action="Index" class="btn btn-primary">
                    Home
                </a>
            </div>

        </div>
    </div>
</div>
